#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  background-color: #eae9e9;
  background-image: url("https://img.freepik.com/premium-photo/paper-texture-white-crumpled-paper-background_5207-1448.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  text-align: center;
  color: #6a0dad;
}

button{
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 5px;
}

button:hover {
  background-color: #89749f;
}

ul{
  list-style-type: none;
  padding: 0;
}

li{
  background-color: #fff;
  margin-bottom: 8px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: red;
}

.task-input {
  padding: 12px;
  margin-right: 10px;
  width: calc(100% - 100px);
  border-radius: 10px;
  background-color: #c6c6c6;
}

input [type='text'], button{
  font-size: 16px;
}



